<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Home | LenDen</title>
        <link rel="apple-touch-icon" sizes="180x180" href="../Assets/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../Assets/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../Assets/images/favicon_io/favicon-16x16.png">
        <link rel="stylesheet" href="../Assets/css/style2.css">
        <link rel="stylesheet" href="../Assets/Vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    </head>
    <body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="../Assets/images/login.png" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="logo-body">
                                <img src="../Assets/images/logo.png" alt="logo" class="logo-img">
                                <h2 class="logo-title">LenDen</h2>
                            </div>
                            <p class="login-card-description">Sign into your account</p>
                            <form action="#">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="password">
                                </div>
                                <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
                            </form>
                            <a href="#" class="forgot-password-link">Forgot password?</a>
                            <p class="login-card-footer-text">Don't have an account? <a href="#" class="text-reset">Register here</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    </body>
</html>

